ul.nav a {
    color: black;
}

button.btn-dark {
    position: relative;
    left: 8px;
    top: 4px;
}

div.col-lg-3 {
    background-color: black;
    padding: 3px;
    margin: 10px;
    width: 120px;
}

div.col-lg-3 i {
    color: white;
    font-size: 30px;
    float: left;
    position: relative;
    top: 12px;
}

div.col-lg-3 p {
    font-size: 14px;
    color: white;
    text-align: center;
}

i.bx {
    font-size: 20px;
}

div.row py-1 {
    height: 40px;
}

h3.fw-bold {
    font-size: 22px;
}

a,
li,
p,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}